In [29]:
import numpy as np

In [12]:
import pandas as pd

In [13]:
from pandas import Series, DataFrame

### 创建Series

In [14]:
obj = Series([4, 7, -5, 3])

In [15]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

### 创建带索引的Series

In [18]:
obj2 = Series([4, 7, -5, 3], index = ['d', 'b', 'a', 'c'])

In [19]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

### 通过字典创建Series

In [33]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [34]:
obj3 = Series(sdata)

In [35]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

### Series的value及index属性

In [16]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [17]:
obj.index

RangeIndex(start=0, stop=4, step=1)

### Series的索引

In [24]:
obj2['a']

-5

In [26]:
obj2[['d', 'b', 'a']]

d    4
b    7
a   -5
dtype: int64

In [27]:
obj2[obj2>0]

d    4
b    7
c    3
dtype: int64

### Series运算

In [28]:
obj2*2

d     8
b    14
a   -10
c     6
dtype: int64

In [30]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

### 判断标签是否在索引中

In [31]:
'b' in obj2

True

In [32]:
8 in obj2

False

### 通过字典创建Series，并传入索引

In [36]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [37]:
obj4 = Series(sdata, index = states)

In [38]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

### 检测缺失数据

In [39]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [40]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

### 通过Series实例的方法检测确实数据

In [41]:
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [42]:
obj3+obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

### Series本身及其索引都有一个name属性

In [44]:
obj4.name = 'population'

In [45]:
obj4.index.name = 'state'

In [46]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

### 更改索引

In [49]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [50]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64